* {
	box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    margin: 0;
}
header {
    padding-top: 2%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 2%;

    background-color: #ee8aaa;
}

#nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 23px;
    position: relative;
    
    color: #000;
    text-decoration: none;
    
    transition: color .1s linear;
}

.nav_link:hover {
    color: #fff;   
}

.nav_link:hover:after{
    opacity: 1;
    border-bottom: 3px solid #aaa;
}

footer {
    background-color: #ee8aaa;

    padding-top: 2%;
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 2%;
}

#nav_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 30px;
    height: 30px;
}

#output_information {
    display: table;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    
    width: 100%;
}

#create_form {
	padding-top: 2%;
	padding-left: 40%;
}

#create_form button {
	margin-left: 10%;
}

.ad {
	min-height: 100px;
	min-width: 32.8%;
	margin: 5px;
	background-color: pink;
	
	display:inline-block;
	
	padding: 25px;
}

.ad span {
	display: flex;
    justify-content: space-between;
}

.ad img {
	width: 15px;
	height: 15px;
}

.ad button {
	width: 30px;
	height: 30px;
	background-color: red;
}

.ad button:hover {
	background-color: red;
}

.title {
	font-size: 24px;
	font-weight: bold;
}

.cost {
	font-size: 18px;
	font-weight: bold;
	
	text-align: right;
}
